<div class="side">
    <dl class="sidemenu">
        <dt><i class="icon"></i>关于我们</dt>
        <dd>@Html.ActionLink("公司介绍", "About", "Home")</dd>
        <dd>@Html.ActionLink("联系我们", "Contact", "Home")</dd>
        <dd>@Html.ActionLink("加入我们", "Join", "Home")</dd>
        <dd>@Html.ActionLink("用户协议", "Agreement", "Home")</dd>
        <dd>@Html.ActionLink("租借协议", "Borrow", "Home")</dd>
        <dd>@Html.ActionLink("法律声明", "Law", "Home")</dd>
        <dd>@Html.ActionLink("费率声明", "Charge", "Home")</dd>
    </dl>
</div>
