<div class="footer">
    <div class="rowbox container clear">
        <dl class="links">
            <dt>关于我们</dt>
            <dd>@Html.ActionLink("公司介绍", "About", "Static")</dd>
            <dd>@Html.ActionLink("联系我们", "Contact", "Static")</a></dd>
            <dd>@Html.ActionLink("加入我们", "Join", "Static")</dd>
        </dl>
        <dl class="links">
            <dt>协议声明</dt>
            <dd>@Html.ActionLink("用户协议", "Agreement", "Static")</dd>
            <dd>@Html.ActionLink("租借协议", "Borrow", "Static")</dd>
            <dd>@Html.ActionLink("法律声明", "Law", "Static")</dd>
            <dd>@Html.ActionLink("费率声明", "Charge", "Static")</dd>
        </dl>
        <dl class="links">
            <dt>帮助中心</dt>
            <dd>@Html.ActionLink("常见问题", "Faq", "Static")</dd>
            <dd>@Html.ActionLink("客服中心", "Service", "Static")</dd>
        </dl>
        <dl class="links">
            <dt>蓝朝农场</dt>
            <dd>@Html.ActionLink("游戏介绍", "About", "Static")</dd>
            <dd>@Html.ActionLink("新手指南", "Guide", "Static")</dd>
            <dd>@Html.ActionLink("进入游戏", "Index", "Static")</dd>
        </dl>
        <div class="contact">
            <div class="text">客服电话：12345678977</div>
            <div class="text">官方群号：99999999</div>
            <div class="text">官方微信：lanchaoxinxi</div>
            <ul class="social">
                <li><i class="icon"></i><span class="weixin"></span></li>
                <li><i class="icon"></i><span class="weibo"></span></li>
                <li><i class="icon"></i><!--<span class="qq"></span>--></li>
            </ul>
        </div>
    </div>
    <div class="bottom">
        <div class="container clear">
            <div class="copyright">蓝朝信息科技有限公司 版权所有 <span>Copyright © 2016 taojingy.com All Rights Reserved.</span></div>
            <div class="icplink">湘ICP备16006040号-2</div>
        </div>
    </div>
</div>
