<div class="header">
    <div class="container clear">
        <a href="index.html" class="logo"></a>
        <ul class="menu clear" id="menu">
            <li class="select"><i class="icon"></i>@Html.ActionLink("首页", "Index", "Home")</li>
            <li><i class="icon"></i>@Html.ActionLink("实时行情", "Index", "Market")</li>
            <li><i class="icon"></i>@Html.ActionLink("游戏公告", "Index", "News")</li>
            <li><i class="icon"></i>@Html.ActionLink("攻略资料", "Index", "Guide")</li>
            <li><i class="icon"></i>@Html.ActionLink("帮助中心", "Faq", "Home")</li>
            <li><i class="icon"></i>@Html.ActionLink("关于我们", "About", "Home")</li>
        </ul>

        <div class="link clear">
            @if (Html.IsLogined())
            {
                @Html.ActionLink("用户中心", "Index", "User")
                @Html.ActionLink("退出", "Logout", "User")
            }
            else
            {
                @Html.ActionLink("登录", "Login", "User")
                @Html.ActionLink("注册", "Reg", "User")
            }
        </div>

        <div class="switch" id="switch"><i></i></div>
    </div>
</div>
