
@{
    ViewBag.Title = "用户中心";
    Layout = "~/Views/Shared/_UserCenterLayout.cshtml";
}
@model IEnumerable<UserScore>
<div class="uc-head uc-head-border">推广统计</div>
<dl class="uc-money clear" style="border-top:none; padding:0px;margin:0px;">
    <dd style="text-align:left">
        <cite style="line-height:60px;height:60px;">@ViewBag.TotalScore</cite>
        <span>推广奖励总额</span>
    </dd>
</dl>



<div class="uc-head uc-head-border">推广奖励列表</div>

@using (Html.BeginForm())
{

    <dl class="uc-search">
        <dd>
            <div class="form-group">
                <div class="form-group-addon no-right-border">来源</div>
                <div class="form-group-input stretch">
                    <input class="stretch" id="RefUserId" maxlength="8" name="RefUserId" placeholder="用户ID" type="text" value="">
                </div>
            </div>
        </dd>

        <dd>
            <div class="form-group">
                <div class="form-group-addon no-right-border">类型</div>
                <div class="form-group-addon form-group-addon-white stretch">
                    <select id="TypeId" name="TypeId">
                        <option value="0" selected="">全部</option>
                        <option value="4">推广奖励--交易</option>
                        <option value="10">推广奖励--游戏</option>
                        <option value="20">推广奖励--首充</option>
                    </select>
                </div>
            </div>
        </dd>

        <dd>
            <div class="form-group">
                <div class="form-group-addon no-right-border">开始</div>
                <div class="form-group-input stretch">
                    <input class="stretch" id="StartDate" name="StartDate" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" type="text" value="@ViewBag.StartDate">
                </div>
            </div>
        </dd>
        <dd>
            <div class="form-group">
                <div class="form-group-addon no-right-border">结束</div>
                <div class="form-group-input stretch">
                    <input class="stretch" id="EndDate" name="EndDate" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" type="text" value="@ViewBag.EndDate">
                </div>
            </div>
        </dd>
        <dd>
            <div class="form-group">
                <input type="submit" class="button button-color-1 button-stretch" value="查询" onclick="return check()">
            </div>
        </dd>
    </dl>
}
<div class="tablebox">
    <table>
        <thead>
            <tr>
                <th>来源</th>
                <th>类型</th>
                <th>奖励金币</th>
                <th>状态</th>
                <th>时间</th>
            </tr>
        </thead>
        <tbody>
            @if (Model == null || !Model.Any())
            {
                <tr>
                    <td class="algin" colspan="5">没有找到相关记录</td>
                </tr>
            }
            else
            {
                foreach (var s in Model)
                {
                    <tr>
                        <td>@(!string.IsNullOrEmpty(s.User.DisplayName) ? s.User.DisplayName : s.UserId.ToString())</td>
                        <td>@((ScoreType)s.TypeId)</td>
                        <td>@s.Score</td>
                        <td>@s.Status</td>
                        <td>@s.CreateTime.ToString("yyyy-MM-dd")</td>
                    </tr>
                }
            }
        </tbody>

    </table>
</div>
@section Scripts {
    <script type="text/javascript" src="~/Content/js/datetime/WdatePicker.js"></script>
}
<script type="text/javascript">
    function check() {
        if ($("#StartDate").val() != "" && $("#EndDate").val() != "") {
            if (new Date($("#StartDate").val().replace(/-/g, "/")) > new Date($("#EndDate").val().replace(/-/g, "/"))) {
                alert("开始时间不能大于结束时间");
                return false;
            }
        }
    }

</script>