@{
    ViewBag.Title = "市场行情";
}
@model MarketDetailViewModel

<div class="subbanner-small subbanner-user" style="position: relative; z-index: 0; background: none;">
    <div class="subbanner-inner">
        <div class="container">
            <h1>蓝朝市场</h1>
            <h2>Lanchao Market</h2>
        </div>
    </div>
    <div class="backstretch" style="left: 0px; top: 0px; overflow: hidden; margin: 0px; padding: 0px; height: 153px; width: 1862px; z-index: -999998; position: absolute;">
        <img src="/content/images/banner-user02.png" style="position: absolute; margin: 0px; padding: 0px; border: none; width: 1862px; height: 232.75px; max-height: none; max-width: none; z-index: -999999; left: 0px; top: -39.875px;">
    </div>
</div>


@using (Html.BeginForm())
{
    
    <input type="hidden" id="pid" name="pid" value="@Model.MarketDetail.ProductId" />
    
    @Html.Partial("_Detail_Chart")
    @Html.Partial("_Detail_Nav")
    @Html.Partial("_Detail_Entrust")
    @Html.Partial("_Detail_EntrustList")

    <div class="container padding-bottom">
        <div class="message message-warn">
            温馨提示：<br>
            1.
            交易数量以整百倍进行交易。        <br>
            2.
            种子出售手续费20%，每日涨跌额0.0003。        <br>
            3.交易时段为每天09:00至次日00:00，特殊停盘除外。<br>
            4.非交易时段无法进行买卖委托和委托撤销。<br>
            5.领取推广大礼包后，需将农场等级提升到4级后方可在淘金果园出售种子和果实。
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/highstock")
}
<script type="text/javascript">

    var intFormatFloat = 4;
    if ('@Model.MarketDetail.Product.ProductCode' == '900001') {
        intFormatFloat = 4;
    }
    if ('@Model.MarketDetail.Product.ProductCode' == '800001') {
        intFormatFloat = 5;
    }

    if ('@Model.MarketDetail.Product.ProductCode' == '800008') {
        intFormatFloat = 2;
    }


    //是否开盘
    var isOpen = true;
    //if ('800001' != '900001' && '800001' != '800010' && '800001' != '800011') {
    //    isOpen = true;
    //}


    var salecharge = 1;

    if ('@Model.MarketDetail.Product.ProductCode' == '800001') {
        if (saletotalmoney <= 200) {
            salecharge = "0.2";
        } else if (saletotalmoney > 200 && saletotalmoney <= 500) {
            salecharge = "0.2";
        } else {
            salecharge = "0.2";
        }
    }
    else if ('@Model.MarketDetail.Product.ProductCode' == '900001') {//升值币手续肥
        salecharge = "0.01";
    } else {
        salecharge = "0.01";
    }


    var hasmoney = $("#hasmoney").html();		//余额
    var hasnumber = $("#hasnumber").html();		//持有

    var AutoFlush = false;

    $(function () {

        $(".flush-switch").click(function () {
            if ($(this).hasClass("flush-switch-select")) {
                $(this).removeClass("flush-switch-select");
                $(this).addClass("flush-switch");
                AutoFlush = false;
            } else {
                $(this).removeClass("flush-switch");
                $(this).addClass("flush-switch-select");

                //在交易时间段才刷新
                var h = new Date().getHours();
                if (h >= 9) {
                    AutoFlush = true;
                }

            }
        });

       // Minute('@Model.MarketDetail.Product.ProductCode', '/Market/Minute');
        Candle('@Model.MarketDetail.Product.ProductCode', '/Market/Candle')

        //FlushEntrust();
        setInterval("Flush()", 5000);
        setInterval("FlushEntrust()", 5000);

        //GetMyEntrust(0, 10, 1);
        //GetMyEntrust(1, 10, 1);

        if (document.getElementById("entrust") != null) {

            $("#entrust tr").css("cursor", "pointer");
            $("#entrust tr").click(function () {

                var price = $(this).find("td:nth-child(2) em").html();
                if (price != "") {

                    if (parseFloat(price) > parseFloat($("#limitUp").html())) {
                        price = $("#limitUp").html();
                    }
                    if (parseFloat(price) < parseFloat($("#limitDown").html())) {
                        price = $("#limitDown").html();
                    }

                    if ($(this).index() < 5) {
                        $("#BuyPrice").val(price);
                    }
                    else {
                        $("#SalePrice").val(price);
                    }

                }
            });

            $("#SaleCount").val("");
            $("#BuyCount").val("");

            $("#BuyPrice").attr("maxlength", $("#limitUp").html().length);
            $("#SalePrice").attr("maxlength", $("#limitUp").html().length);

            //设置默认价格

            var Sale1 = parseFloat($("#entrust tr:nth-child(5) td:nth-child(2) em").html());
            var Buy1 = parseFloat($("#entrust tr:nth-child(6) td:nth-child(2) em").html());
            var LimitUpPrice = parseFloat($("#limitUp").html());
            var LimitDownPrice = parseFloat($("#limitDown").html());


            if (isNaN(Sale1) || Sale1 > LimitUpPrice || Sale1 < LimitDownPrice) {
                $("#BuyPrice").val(LimitUpPrice.toFixed(intFormatFloat));
            } else {
                $("#BuyPrice").val(Sale1.toFixed(intFormatFloat));
            }

            if (isNaN(Buy1) || Buy1 > LimitUpPrice || Buy1 < LimitDownPrice) {
                $("#SalePrice").val(LimitDownPrice.toFixed(intFormatFloat));
            } else {
                $("#SalePrice").val(Buy1.toFixed(intFormatFloat));
            }

        }

    });



    function GetMyEntrust(IsComplete, PageSize, CurrentPageIndex) {
        $.ajax({
            type: "post",
            url: "/Market/GetMyEntrust",
            datatype: "json",
            data: { IsComplete: IsComplete, ProductCode: '800001', PageSize: PageSize, CurrentPageIndex: CurrentPageIndex },
            beforeSend: function () {

            },
            complete: function () {

            },
            success: function (result) {
                var html = "";
                var items = result.List;
                for (i = 0; i < items.length; i++) {
                    var item = items[i];
                    html = html + "<tr>";
                    html = html + "<td>" + new Date(item.CreatedTime * 1000).Format("yyyy/M/d h:m:s") + "</td>";
                    html = html + "<td>" + item.ProductName + "</td>";
                    if (item.IsBuy) {
                        html = html + "<td><span  class=\"color-1\">买</span></td>";
                    }
                    else {
                        html = html + "<td><span  class=\"color-4\">卖</span></td>";
                    }
                    html = html + "<td>" + item.Price.toFixed(intFormatFloat) + "</td>";
                    html = html + "<td>" + item.Count + "</td>";
                    html = html + "<td>" + item.DeltCount + "</td>";
                    html = html + "<td>" + item.StatusCHI + "</td>";

                    if (item.Status == 0 || item.Status == 1) {
                        html = html + "<td><a onclick=\"if(confirm('确定撤销?')) {Revoke('" + item.Id + "')}\">撤消</a></td>";
                    }
                    else {
                        html = html + "<td>--</td>";
                    }
                    html = html + "</tr>";
                }
                if (html != "") {
                    $("#MyEntrust" + IsComplete.toString()).html(html);
                } else {
                    $("#MyEntrust" + IsComplete.toString()).html("<tr><td class='algin' colspan='8'>没有查询到任何数据</td></tr>");
                }

                //分页
                var PageCount = 0;
                if (result.TotalRecordCount % result.PageSize == 0) {
                    PageCount = parseInt(result.TotalRecordCount / result.PageSize);
                } else {
                    PageCount = parseInt(result.TotalRecordCount / result.PageSize + 1);
                }

                if (PageCount > 1) {
                    var page = "";
                    if (CurrentPageIndex > 1) {
                        page = "<span onclick='GetMyEntrust(" + IsComplete + ",10," + parseInt(CurrentPageIndex - 1).toString() + ")'>上一页</span>";
                    } else {
                        page = "<span class='none'>上一页</span>";
                    }

                    page = page + "<cite>" + CurrentPageIndex.toString() + "/" + PageCount.toString() + "</cite>";

                    if (CurrentPageIndex < PageCount) {
                        page = page + "<span onclick='GetMyEntrust(" + IsComplete + ",10," + parseInt(CurrentPageIndex + 1).toString() + ")'>下一页</span>";
                    } else {
                        page = page + "<span class='none'>下一页</span>";
                    }

                    $("#thepager" + IsComplete.toString()).html(page);
                } else {
                    $("#thepager" + IsComplete.toString()).hide();
                }



            }
        });
    }

    Date.prototype.Format = function (fmt) { //author: meizz
        var o = {
            "M+": this.getMonth() + 1, //月份
            "d+": this.getDate(), //日
            "h+": this.getHours(), //小时
            "m+": this.getMinutes(), //分
            "s+": this.getSeconds(), //秒
            "q+": Math.floor((this.getMonth() + 3) / 3), //季度
            "S": this.getMilliseconds() //毫秒
        };
        if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        for (var k in o)
            if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        return fmt;
    }


    function Flush() {
        if (AutoFlush) {
            if ($('#mbtn').hasClass('select')) {
                Minute('@Model.MarketDetail.Product.ProductCode', '/Market/Minute');
            }
            else if ($('#kbtn').hasClass('select')) {
                Candle('@Model.MarketDetail.Product.ProductCode', '/Market/Candle');
            }
        }
    }

    function BuyPersent(per) {

        if (per == 1.0) {
            $("#BuyCount").css('color', '#FF0000');
        } else {
            $("#BuyCount").css('color', '#888');
        }

        var number = 0;
        var price = $('#BuyPrice').val();

        if (price == '' || price == 0) {
            if ($("#entrust tr:nth-child(5) td:nth-child(2) em").html() != "") {
                $('#BuyPrice').val($("#entrust tr:nth-child(5) td:nth-child(2) em").html());
                price = $("#entrust tr:nth-child(5) td:nth-child(2) em").html();
            }
            else {
                //$('#BuyPrice').val($("#limitDown").html());
                //price = $("#limitDown").html();
                $('#BuyPrice').val($("#FlushPrice1").html())
                price = $("#FlushPrice1").html();
            }
        }


        number = parseInt(hasmoney * per / price);
       // if ('800001' != '900001' && '800001' != '800008') {
            number = parseInt(number / 100) * 100;
      //  }

      //  if ('800001' == '800008') {
      //      number = parseInt(number / 10) * 10;
      //  }

        $('#BuyCount').val(number);
        FlushBuyTotalMoney();
    }

    function SalePersent(per) {
        if (per == 1.0) {
            $("#SaleCount").css('color', '#FF0000');
        } else {
            $("#SaleCount").css('color', '#888');
        }
        var price = $('#SalePrice').val();
        var number = 0;
        if (price == '' || price == 0) {
            if ($("#entrust tr:nth-child(6) td:nth-child(2) em").html() != "") {
                $('#SalePrice').val($("#entrust tr:nth-child(6) td:nth-child(2) em").html());
                price = $("#entrust tr:nth-child(6) td:nth-child(2) em").html();
            }
            else {
                //$('#SalePrice').val($("#limitUp").html());
                //price = $("#limitUp").html();
                $('#SalePrice').val($("#FlushPrice1").html());
                price = $("#FlushPrice1").html();
            }
        }
        number = parseInt(hasnumber * per);
      //  if ('800001' != '900001' && '800001' != '800008') {
            number = parseInt(number / 100) * 100;
       // }

      //  if ('800001' == '800008') {
     //       number = parseInt(number / 10) * 10;
     //   }


        $('#SaleCount').val(number);
        FlushSaleTotalMoney();
    }

    function FlushBuyTotalMoney() {
        var number = $("#BuyCount").val();
        var price = $("#BuyPrice").val();
        $('#buytotalmoney').val((number * price).toFixed(intFormatFloat));
        $("#buytotalmoney").css('color', '#888');

        if ($('#buytotalmoney').val() - hasmoney >= 0) {
            $("#buytotalmoney").css('color', '#FF0000');
        }
    }

    function FlushSaleTotalMoney() {
        var number = $("#SaleCount").val();
        var price = $("#SalePrice").val();
        var saletotalmoney = number * price;
        $('#saletotalmoney').val(saletotalmoney.toFixed(intFormatFloat));

        $('#salechargemoney').html((number * price * salecharge).toFixed(intFormatFloat));
    }

    function FormatFloatValue(value) {
        value = value.replace(/[^\d.]/g, "");
        value = value.replace(/^\./g, "");
        value = value.replace(/\.{2,}/g, ".");
        value = value.replace(".", "$#$").replace(/\./g, "").replace("$#$", ".");
        if (value.indexOf(".") != -1) {
            points = value.substring(value.indexOf("."));
            value = value.replace(points, "");
            if (points.length > intFormatFloat + 1) {
                points = points.substring(0, intFormatFloat + 1);
            }
            value = value + points;
        }
        return value;
    }

    function FormatIntValue(value) {
        value = value.replace(/[^\d]/g, "");
        return value;
    }

    $("#BuyPrice").keyup(function () {
        $(this).val(FormatFloatValue($(this).val()));
        FlushBuyTotalMoney();
    });

    $("#BuyCount").keyup(function () {
        $(this).val(FormatIntValue($(this).val()));
        $(this).css('color', '#888');
        var price = $("#BuyPrice").val();
        var maxnumber = parseInt((hasmoney / price));
        if ($(this).val() - maxnumber >= 0) {
            $(this).css('color', '#FF0000');
            $(this).val(maxnumber);
        }
        FlushBuyTotalMoney();
    });

    $("#BuyPrice").blur(function () {
        if ($(this).val() != "") {
            $(this).val(parseFloat($(this).val()).toFixed(intFormatFloat));
        }
        else if ($("#entrust tr:nth-child(5) td:nth-child(2) em").html() != "") {
            $(this).val($("#entrust tr:nth-child(5) td:nth-child(2) em").html());
        }
        else {
            // $(this).val($("#limitDown").html());
            $(this).val($("#FlushPrice1").html());
        }

        if (parseFloat($(this).val()) > parseFloat($("#limitUp").html()) || parseFloat($(this).val()) < parseFloat($("#limitDown").html())) {
            alert("委托价格不在今日涨跌停范围内");
            if ($("#entrust tr:nth-child(5) td:nth-child(2) em").html() != "") {
                $(this).val($("#entrust tr:nth-child(5) td:nth-child(2) em").html());
            }
            else {
                //$(this).val($("#limitDown").html());
                $(this).val($("#FlushPrice1").html());
            }
        }
        FlushBuyTotalMoney();
    });


    $("#buytotalmoney").keyup(function () {

        $(this).val(FormatFloatValue($(this).val()));

        $(this).css('color', '#888');
        if ($(this).val() - hasmoney > 0) {
            $(this).css('color', '#FF0000');
            $(this).val(hasmoney);
        }

        //改变买入数量文本框的值
        var number = parseInt(parseFloat($(this).val()) / parseFloat($("#BuyPrice").val()) / 100) * 100;
        if (!isNaN(number)) {
            $("#BuyCount").val(number);
        } else {
            $("#BuyCount").val("0");
        }


    });


    $("#saletotalmoney").keyup(function () {

        $(this).val(FormatFloatValue($(this).val()));

        var number = parseInt(parseFloat($(this).val()) / parseFloat($("#SalePrice").val()) / 100) * 100;

        if (!isNaN(number)) {
            $("#SaleCount").val(number);
        } else {
            $("#SaleCount").val("0");
        }
        //
        $("#SaleCount").css('color', '#888');
        $(this).css('color', '#888');
        if (number > hasnumber) {
            $("#SaleCount").css('color', '#FF0000');
            $("#SaleCount").val(parseInt(hasnumber / 100) * 100);
            $(this).css('color', '#FF0000');
            $(this).val(parseInt(hasnumber / 100) * 100 * parseFloat($("#SalePrice").val()));
        }

        //

        $("#salechargemoney").html((parseFloat($(this).val()) * salecharge).toFixed(intFormatFloat));

    });


    $("#SalePrice").keyup(function () {
        $(this).val(FormatFloatValue($(this).val()));
        FlushSaleTotalMoney();
    });

    $("#SaleCount").keyup(function () {

        $(this).val(FormatIntValue($(this).val()));
        $(this).css('color', '#888');

        if ($(this).val() - hasnumber >= 0) {
            $(this).css('color', '#FF0000');
            $(this).val(hasnumber);
        }
        FlushSaleTotalMoney();
    });

    $("#SalePrice").blur(function () {
        if ($(this).val() != "") {
            $(this).val(parseFloat($(this).val()).toFixed(intFormatFloat));
        }
        else if ($("#entrust tr:nth-child(6) td:nth-child(2) em").html() != "") {
            $(this).val($("#entrust tr:nth-child(6) td:nth-child(2) em").html());
        }
        else {
            //$(this).val($("#limitUp").html());
            $(this).val($("#FlushPrice1").html());
        }
        if (parseFloat($(this).val()) > parseFloat($("#limitUp").html()) || parseFloat($(this).val()) < parseFloat($("#limitDown").html())) {
            alert("委托价格不在今日涨跌停范围内");

            if ($("#entrust tr:nth-child(6) td:nth-child(2) em").html() != "") {
                $(this).val($("#entrust tr:nth-child(6) td:nth-child(2) em").html());
            }
            else {
                //$(this).val($("#limitUp").html());
                $(this).val($("#FlushPrice1").html());
            }
        }
        FlushSaleTotalMoney();
    });



    function FlushEntrust() {
        //不在交易时间段不刷新
        var h = new Date().getHours();
        if (h < 9) {
            return false;
        }


        $.ajax({
            type: "post",
            url: "/Market/FlushEntrust",
            data: { pid: '@Model.MarketDetail.ProductId', id: '@Model.MarketDetail.Product.ProductCode' },
            datatype: "json",
            beforeSend: function () {

            },
            complete: function () {

            },
            success: function (result) {


                var BuyList = result.BuyList;
                var SaleList = result.SaleList;
                var MarketInfo = result.MarketInfo;

                //刷新数据
                $("#FlushPrice1").html(MarketInfo.Price.toFixed(intFormatFloat));
                $("#FlushPrice2").html(MarketInfo.Price.toFixed(intFormatFloat));
                $("#FlushIncrease").html(MarketInfo.Increase.toFixed(intFormatFloat));
                $("#FlushIncreaseRate").html((MarketInfo.IncreaseRate * 100).toFixed(2) + "%");
                $("#FluashLowestPrice").html(MarketInfo.LowestPrice.toFixed(intFormatFloat));
                $("#FluashHighestPrice").html(MarketInfo.HighestPrice.toFixed(intFormatFloat));
                $("#FluashVolume").html(MarketInfo.Volume);


                //刷新样式
                if (MarketInfo.Price > MarketInfo.OpenPrice) {
                    $(".kline-head dt").attr("class", "color-1");
                    $("#FlushPrice2").attr("class", "color-1");

                }
                else if (MarketInfo.Price < MarketInfo.OpenPrice) {
                    $(".kline-head dt").attr("class", "color-4");
                    $("#FlushPrice2").attr("class", "color-4");
                }
                else {
                    $(".kline-head dt").removeAttr("class");
                    $("#FlushPrice2").removeAttr("class");
                }



                //卖 第5行到第1行
                for (i = 5; i >= 1; i--) {
                    if (i <= 5 - SaleList.length) {
                        $("#entrust tr:nth-child(" + i + ") td:nth-child(2)").html("<em></em>");
                        $("#entrust tr:nth-child(" + i + ") td:nth-child(3)").html("<em></em>");
                    }
                }
                for (i = 0; i < SaleList.length; i++) {
                    $("#entrust tr:nth-child(" + (5 - i).toString() + ") td:nth-child(2)").html("<em>" + SaleList[i].Price.toFixed(intFormatFloat) + "</em>");
                    $("#entrust tr:nth-child(" + (5 - i).toString() + ") td:nth-child(3)").html("<em>" + SaleList[i].Number + "</em>");

                    if (SaleList[i].Price > MarketInfo.OpenPrice) {
                        $("#entrust tr:nth-child(" + (5 - i).toString() + ") td:nth-child(2)").attr("class", "color-1");
                    }
                    else if (SaleList[i].Price < MarketInfo.OpenPrice) {
                        $("#entrust tr:nth-child(" + (5 - i).toString() + ") td:nth-child(2)").attr("class", "color-4");
                    }

                }
                //买 第6行到第10行
                for (i = 6; i <= 10; i++) {
                    if (i >= 6 + BuyList.length) {
                        $("#entrust tr:nth-child(" + i + ") td:nth-child(2)").html("<em></em>");
                        $("#entrust tr:nth-child(" + i + ") td:nth-child(3)").html("<em></em>");
                    }
                }
                for (i = 0; i < BuyList.length; i++) {
                    $("#entrust tr:nth-child(" + (6 + i).toString() + ") td:nth-child(2)").html("<em>" + BuyList[i].Price.toFixed(intFormatFloat) + "</em>");
                    $("#entrust tr:nth-child(" + (6 + i).toString() + ") td:nth-child(3)").html("<em>" + BuyList[i].Number + "</em>");

                    if (BuyList[i].Price > MarketInfo.OpenPrice) {
                        $("#entrust tr:nth-child(" + (6 + i).toString() + ") td:nth-child(2)").attr("class", "color-1");
                    }
                    else if (BuyList[i].Price < MarketInfo.OpenPrice) {
                        $("#entrust tr:nth-child(" + (6 + i).toString() + ") td:nth-child(2)").attr("class", "color-4");
                    }
                }


                $("#entrust em").addClass("flipy");



            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                //alert("获取数据异常，请稍候再试！")
            }
        });
    }


    function Buy() {
        var price = parseFloat($("#BuyPrice").val());
        var upprice = parseFloat($("#limitUp").text());
        var downprice = parseFloat($("#limitDown").text());
        var number = parseInt($("#BuyCount").val());
        var buytotalmoney = (number * price).toFixed(intFormatFloat);

        if (isNaN(buytotalmoney)) {
            buytotalmoney = 0;
        }

        $("#buytotalmoney").val(buytotalmoney);


        if (price > upprice || price < downprice) {
            alert("委托价格超过今日价格限制");
            return false;
        }

        if ($("#BuyCount").val() == "" || $("#BuyCount").val() == 0) {
            alert("交易数量不正确");
            return false;
        }

        if ($("#BuyCount").val() % 100 != 0){//&& '800001' != '900001' && '800001' != '800008') {
            alert("交易数量不正确，必须是100的整倍。");
            return false;
        }

        //if ('800001' == '800008') {
        //    if ($("#BuyCount").val() % 10 != 0) {
        //        alert("交易数量不正确，必须是10的整倍。");
        //        return false;
        //    }
        //}


        if ($("#BuyCount").val() * $("#BuyPrice").val() - hasmoney > 0) {
            alert("您的金币不足");
            return false;
        }






        if (confirm('买入信息确认\n--------------\n价格：' + $('#BuyPrice').val() + '\n数量：' + $('#BuyCount').val() + '个\n金币：' + buytotalmoney)) {
            $("#SubmitType").val("BUY");
            $("#SaleCount").val("0");
            $("form").submit();
        }

    }

    function Sale() {

        var number = parseInt($("#SaleCount").val());
        var price = parseFloat($("#SalePrice").val());
        var upprice = parseFloat($("#limitUp").text());
        var downprice = parseFloat($("#limitDown").text());

        var saletotalmoney = (number * price).toFixed(intFormatFloat);

        if (isNaN(saletotalmoney)) {
            saletotalmoney = 0;
        }

        $("#saletotalmoney").val(saletotalmoney);




        var salechargemoney = (saletotalmoney * salecharge).toFixed(intFormatFloat);
        $("#salechargemoney").html(salechargemoney);


        if (price > upprice || price < downprice) {
            alert("委托价格超过今日价格限制");
            return false;
        }

        if ($("#SaleCount").val() == "" || $("#SaleCount").val() == 0) {
            alert("交易数量不正确");
            return false;
        }

        if ($("#SaleCount").val() % 100 != 0){// && '800001' != '900001' && '800001' != '800008') {
            alert("交易数量不正确，必须是100的整倍。");
            return false;
        }

        //if ('800001' == '800008') {
        //    if ($("#SaleCount").val() % 10 != 0) {
        //        alert("交易数量不正确，必须是10的整倍。");
        //        return false;
        //    }
        //}


        if ($("#SaleCount").val() - hasnumber > 0) {
            alert("您的持有量不足");
            return false;
        }

        if (confirm('卖出信息确认\n--------------\n价　格：' + $('#SalePrice').val() + '\n数　量：' + $('#SaleCount').val() + '个\n金　币：' + saletotalmoney.toString() + '\n手续费：' + salechargemoney.toString())) {
            $("#SubmitType").val("SALE");
            $("#BuyCount").val("0");
            $("form").submit();
        }

    }

    function Revoke(eId) {
        $("#EId").val(eId);
        $("#SubmitType").val("REVOKE");

        $("#BuyCount").val("0");
        $("#SaleCount").val("0");
        $("form").submit();
    }

</script>