@{
    ViewBag.Title = "市场行情";
}
@model MarketDetailViewModel

<div class="subbanner-small subbanner-user" style="position: relative; z-index: 0; background: none;">
    <div class="subbanner-inner">
        <div class="container">
            <h1>蓝朝市场</h1>
            <h2>Lanchao Market</h2>
        </div>
    </div>
    <div class="backstretch" style="left: 0px; top: 0px; overflow: hidden; margin: 0px; padding: 0px; height: 153px; width: 1862px; z-index: -999998; position: absolute;">
        <img src="/content/images/banner-user02.png" style="position: absolute; margin: 0px; padding: 0px; border: none; width: 1862px; height: 232.75px; max-height: none; max-width: none; z-index: -999999; left: 0px; top: -39.875px;">
    </div>
</div>


@using (Html.BeginForm())
{
    @Html.Partial("_Detail_Chart")
    @Html.Partial("_Detail_Nav")
    @Html.Partial("_Detail_Delegate")
    @Html.Partial("_Detail_DelegateList")

    <div class="container padding-bottom">
        <div class="message message-warn">
            温馨提示：<br>
            1.
            交易数量以整百倍进行交易。        <br>
            2.
            种子出售手续费20%，每日涨跌额0.0003。        <br>
            3.交易时段为每天09:00至次日00:00，特殊停盘除外。<br>
            4.非交易时段无法进行买卖委托和委托撤销。<br>
            5.领取推广大礼包后，需将农场等级提升到4级后方可在淘金果园出售种子和果实。
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/highstock")
}