@{
    ViewBag.Title = "交易中心";
}
@model IEnumerable<Market>

<div class="subbanner-small subbanner-user" style="position: relative; z-index: 0; background: none;">
    <div class="subbanner-inner">
        <div class="container">
            <h1>蓝朝市场</h1>
            <h2>Lanchao Market</h2>
        </div>
    </div>
    <div class="backstretch" style="left: 0px; top: 0px; overflow: hidden; margin: 0px; padding: 0px; height: 153px; width: 1862px; z-index: -999998; position: absolute;">


        <img style="position: absolute; margin: 0px; padding: 0px; border: none; width: 1862px; height: 232.75px; max-height: none; max-width: none; z-index: -999999; left: 0px; top: -39.875px;" src="/content/images/banner-user02.png">
    </div>
</div>

<div class="container">
    <div class="market">
        <div class="tablebox">
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>名称</th>
                        <th>现价</th>
                        <th>涨幅</th>
                        <th>涨跌</th>
                        <th>今开</th>
                        <th>最高</th>
                        <th>最低</th>
                        <th>成交量</th>
                    </tr>
                </thead>
                <tbody id="MarketList">
                    @foreach (var m in Model)
                    {
                        <tr isopen="true" onclick="window.location.href='/Market/Detail/@m.ProductId'" style="cursor:pointer;">
                            <td><a href="/Market/Detail/@m.Product.ProductCode"><img src="@m.Product.ImageUrl" width="30"></a></td>
                            <td>@Html.ActionLink(m.Product.ProductName, "Detail", new { id = m.Product.ProductCode })</td>
                            <td class="color-1">@m.CurrentPrice</td>
                            <td class="color-1">@((m.RaisedRate*100).ToString("f2")) %</td>
                            <td class="color-1">@m.Raised</td>
                            <td>@m.OpenPrice</td>
                            <td class="color-1">@m.TopPrice</td>
                            <td class="color-4">@m.BottomPrice</td>
                            <td>@m.Volume</td>
                        </tr>
                    }                    
                </tbody>
            </table>
        </div>
    </div>
</div>