@{
    string[] ucactions = new string[] { "index", "detail", "news", "newsdetail", "createnews" };
    string[] tradeactions = new string[] { "tradecenter", "entrust", "tradehistory", "rebirth", "rebirthhistory", "borrow", "borrowhistory", "give", "givehistory", "withdrawhistory" };
    string action = ViewContext.RouteData.Values["action"].ToString().ToLower();
}
<ul id="side-menu-toggle" class="side-menu-toggle">
    <li @(ucactions.Contains(action) ? "class=open" : string.Empty)>
        <div class="link">农场物语</div>
        <ul class="side-menu-toggle-sub @(ucactions.Contains(action) ? "side-menu-toggle-sub-show" : string.Empty)">
            <li>@Html.ActionLink("用户列表", "Index", "Users")</li>
            <li>@Html.ActionLink("产品列表", "Index", "Products")</li>
            <li>@Html.ActionLink("新闻列表", "News", "Admin")</li>
            <li><a id="gdata" href="javascript:void(0);">生成每日数据</a></li>
        </ul>
    </li>

    <li @(tradeactions.Contains(action) ? "class=open" : string.Empty)>
        <div class="link">农贸市场</div>
        <ul class="side-menu-toggle-sub  @(tradeactions.Contains(action) ? "side-menu-toggle-sub-show" : string.Empty)">
            <li>@Html.ActionLink("用户委托", "Entrust", "Users")</li>
            <li>@Html.ActionLink("交易记录", "TradeHistory", "Users")</li>
            <li>@Html.ActionLink("充值记录", "WithdrawHistory", "Users")</li>
            <li>@Html.ActionLink("重生记录", "RebirthHistory", "Markets")</li>
            <li>@Html.ActionLink("租借记录", "BorrowHistory", "Users")</li>
            <li>@Html.ActionLink("赠送记录", "GiveHistory", "Users")</li>
            @*<li>@Html.ActionLink("实时行情", "TradeCenter", "Market")</li>

                <li>@Html.ActionLink("果实重生", "Rebirth", "Market")</li>

                <li>@Html.ActionLink("果实租借", "Borrow", "Market")</li>

                <li>@Html.ActionLink("果实赠送", "Give", "User")</li>
            *@
        </ul>
    </li>

    @*<li  @(!tradeactions.Contains(action) &&  !ucactions.Contains(action) ? "class=open" : string.Empty)>
            <div class="link">推广中心</div>
            <ul class="side-menu-toggle-sub @(!tradeactions.Contains(action) && !ucactions.Contains(action) ? "side-menu-toggle-sub-show" : string.Empty)">
                <li>@Html.ActionLink("推广链接", "PopLink", "User")</li>
                <li>@Html.ActionLink("推广列表", "PopDetail", "User")</li>
                <li>@Html.ActionLink("推广收益", "PopReward", "User")</li>
                <li>@Html.ActionLink("补推广码", "FillReferId", "User")</li>
            </ul>
        </li>*@
</ul>

<script type="text/javascript">
    $(function () {
        var Toggle = function (el, multiple) {
            this.el = el || {};
            this.multiple = multiple || false;

            // Variables privadas
            var links = this.el.find('.link');
            // Evento
            links.on('click', { el: this.el, multiple: this.multiple }, this.dropdown)
        }

        Toggle.prototype.dropdown = function (e) {
            var $el = e.data.el;
            $this = $(this),
            $next = $this.next();

            $next.slideToggle();
            $this.parent().toggleClass('open');

            if (!e.data.multiple) {
                $el.find('.side-menu-toggle-sub').not($next).slideUp().parent().removeClass('open');
            };

        }

        var toggle = new Toggle($('#side-menu-toggle'), false);

        $('#gdata').click(function () {

            if (confirm('是否生成市场行情数据？')) {
                $.post('/market/__preparetestdata', {}, function (r) {
                    if (r == 'ok') {
                        alert('生成成功!');
                    }
                    else {
                        alert('生成失败,请联系管理员');
                    }
                });
            }
        });

    });
</script>
