
@{
    ViewBag.Title = "用户中心";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@model PageViewData<UserBorrow>

<div class="uc-head">租借记录</div>
@using (Html.BeginForm())
{
    <dl class="uc-search">
        <dd>
            <div class="form-group">
                <div class="form-group-addon no-right-border">用户ID</div>
                <div class="form-group-input stretch">
                    @Html.TextBox("UserId", null, new { @class = "stretch" })
                </div>
            </div>
        </dd>
        <dd>
            <div class="form-group">
                <div class="form-group-addon no-right-border">开始</div>
                <div class="form-group-input stretch">
                    @Html.TextBox("StartDate", null, new { @class = "stretch", onfocus = "WdatePicker({dateFmt:'yyyy-MM-dd'})", name = "StartDate" })
                    @*<input class="stretch" id="StartDate" name="StartDate" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" type="text" value="@ViewBag.StartDate">*@
                </div>
            </div>
        </dd>
        <dd>
            <div class="form-group">
                <div class="form-group-addon no-right-border">结束</div>
                <div class="form-group-input stretch">
                    @Html.TextBox("EndDate", null, new { @class = "stretch", onfocus = "WdatePicker({dateFmt:'yyyy-MM-dd'})", name = "EndDate" })
                    @*<input class="stretch" id="EndDate" name="EndDate" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" type="text" value="@ViewBag.StartDate">*@
                </div>
            </div>
        </dd>
        <dd>
            <div class="form-group">
                <input type="submit" class="button button-color-1 button-stretch" value="查询" onclick="return check()">
            </div>
        </dd>
    </dl>
}
<div class="tablebox">
    <table>
        <thead>
            <tr>
                <th></th>
                <th>用户</th>
                <th>名称</th>
                <th>租借时间</th>
                <th>数量</th>
                <th>保证金</th>
                <th>日息</th>
                <th>最后归还日期</th>
                <th>状态</th>
                <th>归还日期</th>
                @*<th>操作</th>*@
            </tr>
        </thead>
        <tbody>
            @if (Model.Items == null || !Model.Items.Any())
            {
                <tr>
                    <td class="algin" colspan="10">没有查询到相关数据</td>
                </tr>
            }
            else
            {
                foreach (var b in Model.Items)
                {
                    <tr>
                        <td></td>
                        <td>@b.UserId</td>
                        <td>@b.Product.ProductName</td>
                        <td>@b.CreateTime</td>
                        <td>@b.BorrowCount</td>
                        <td>@b.Bail</td>
                        <td>@b.DailyInterest</td>
                        <td>@b.Deadline.ToString("yyyy-MM-dd")</td>
                        <td>@b.Status</td>
                        <td>@(b.ReturnTime.HasValue ? b.ReturnTime.Value.ToString("yyyy-MM-dd") : string.Empty)</td>
                        @*<td>归还</td>*@
                    </tr>
                }
            }
        </tbody>

    </table>
</div>

@Html.Pager(Model.TotalCount, Model.PageSize, Model.PageIndex, new GFPagerOptions())
@*<div class="message message-help">
    温馨提示：<br>
    1.补充的保证金不收取手续费，不计算日息。<br>
    2.如果超过最后归还日期仍未归还，系统将强制平仓（用保证金从市场自动购买租借的果实并归还）。<br>
</div>*@

@section Scripts {
    <script type="text/javascript" src="~/Content/js/datetime/WdatePicker.js"></script>
}
<script type="text/javascript">
    function check() {
        if ($("#StartDate").val() != "" && $("#EndDate").val() != "") {
            if (new Date($("#StartDate").val().replace(/-/g, "/")) > new Date($("#EndDate").val().replace(/-/g, "/"))) {
                alert("开始时间不能大于结束时间");
                return false;
            }
        }
    }

</script>