
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";

    var products = (IEnumerable<Product>)ViewBag.Products;
    var ups = (IEnumerable<UserProduct>)ViewBag.UserProducts;
}
@model User

<div class="uc-head">用户详情</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(n => n.Id)
    <div class="uc-form">

        <div class="form-group">
            <div class="form-group-addon no-right-border">用户ID</div>
            <div class="form-group-addon form-group-addon-disabled stretch">
                @Model.Id
            </div>
        </div>

        <div class="form-group">
            <div class="form-group-addon no-right-border">用户名</div>
            <div class="form-group-input stretch">
                @Html.TextBoxFor(n => n.DisplayName, new { @class = "stretch" })
            </div>
        </div>

        <div class="form-group">
            <div class="form-group-addon no-right-border">电话</div>
            <div class="form-group-input stretch">
                @Html.TextBoxFor(n => n.Phone, new { @class = "stretch" })
            </div>
        </div>



        <div class="form-group">
            <div class="form-group-addon no-right-border">积分</div>
            <div class="form-group-input stretch">
                @Html.TextBoxFor(n => n.TotalScore, new { @class = "stretch" })
            </div>
        </div>

        <div class="form-group">
            <div class="form-group-addon no-right-border">身份证</div>
            <div class="form-group-input stretch">
                @Html.TextBoxFor(n => n.IdNum, new { @class = "stretch" })
            </div>
        </div>

        @*<div class="form-group">
                <div class="form-group-addon no-right-border">状态</div>
                <div class="form-group-input stretch">
                    @Html.CheckBoxFor(n => n.Deleted, new { @class = "stretch" })
                </div>
            </div>*@

        <div class="form-group">
            <input type="button" class="button-color-4" value="删除" onclick="return Del()">
            <input type="button" class="button-color-1" value="保存" onclick="return PreSubmit()">
        </div>
    </div>
}

<div class="uc-head">持有的产品</div>
<div class="tablebox">
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>产品编码</th>
                <th>产品名称</th>
                <th>持有量</th>
                <th>冻结量</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (products == null || !products.Any())
            {
                <tr>
                    <td class="algin" colspan="6">没有持有任何产品</td>
                </tr>
            }
            else
            {
                foreach (var p in products)
                {
                    var up = ups.FirstOrDefault(ps => ps.ProductId == p.Id);
                    <tr>
                        <td></td>
                        <td>@p.ProductCode</td>
                        <td>@p.ProductName</td>
                        <td><input type="text" id="t_@p.Id" value="@(up != null ? up.TotalCount : 0)" /></td>
                        <td><input type="text" id="f_@p.Id" value="@(up != null ? up.FrozenCount : 0)" /></td>
                        <td><input type="button" class="button-color-1" value="更新" onclick="Update(@p.Id);" /></td>
                    </tr>
                }

            }
        </tbody>
    </table>
</div>



<script type="text/javascript">


    function PreSubmit()
    {
        $('form').submit();
    }

    function Del()
    {
        if(confirm('确认删除?')){
            $.post('/admin/users/delete', { id: @Model.Id }, function(){
                location = '/Admin/Users';
            });
        }
    }

    function Update(pid){
        if (isNaN(parseInt($('#t_'+pid).val())) || isNaN(parseInt($('#f_'+pid).val()))) {
            alert('请确认数量');
            return;
        }
        if(confirm('确认更新?')){
            $.post('/Admin/Users/UpdateUP', { uid: @Model.Id, pid: pid, tcount: $('#t_'+pid).val(), fcount: $('#f_'+pid).val()}, function(r){
                if(r == "1"){
                    location.reload();
                }else alert(r);
            });
        }
    }
</script>