
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@model PageViewData<User>

<div class="uc-head">用户列表</div>


@using (Html.BeginForm())
{
    <dl class="uc-search">
        <dd>
            <div class="form-group">
                <div class="form-group-addon no-right-border">ID</div>
                <div class="form-group-input stretch">
                    @Html.TextBox("UserId", null, new { @class = "stretch" })
                </div>
            </div>
        </dd>

        <dd>
            <div class="form-group">
                <div class="form-group-addon no-right-border">用户名/手机</div>
                <div class="form-group-input stretch">
                    @Html.TextBox("Phone", null, new { @class = "stretch" })
                </div>
            </div>
        </dd>

        <dd>
            <div class="form-group">
                <div class="form-group-addon no-right-border">创建于</div>
                <div class="form-group-input stretch">
                    @Html.TextBox("StartDate", null, new { @class="stretch", onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})", name= "StartDate" })
                    @*<input class="stretch" id="StartDate" name="StartDate" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" type="text" value="@ViewBag.StartDate">*@
                </div>
            </div>
        </dd>
        <dd>
            <div class="form-group">
                <div class="form-group-addon no-right-border">结束</div>
                <div class="form-group-input stretch">
                    @Html.TextBox("EndDate", null, new { @class = "stretch", onfocus = "WdatePicker({dateFmt:'yyyy-MM-dd'})", name = "EndDate" })
                    @*<input class="stretch" id="EndDate" name="EndDate" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" type="text" value="@ViewBag.StartDate">*@
                </div>
            </div>
        </dd>
        <dd>
            <div class="form-group">
                <input type="submit" class="button button-color-1 button-stretch" value="查询" onclick="return check()">
            </div>
        </dd>
    </dl>
}
<div class="tablebox">
    <table>
        <thead>
            <tr>
                <th></th>
                <th>ID</th>
                <th>用户名</th>
                <th>手机号</th>
                <th>可用积分</th>
                <th>最后登录时间</th>
                <th>创建日期</th>
                <th>管理员</th>
                <th>状态</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Items == null || !Model.Items.Any())
            {
                <tr>
                    <td class="algin" colspan="9">没有查询到相关数据</td>
                </tr>
            }
            else
            {
                foreach (var u in Model.Items)
                {
                    <tr style="cursor:pointer;" onclick="location = '/Admin/Users/Detail/@u.Id'">
                        <td></td>
                        <td>@u.Id</td>
                        <td>@u.DisplayName</td>
                        <td>@u.Phone</td>
                        <td>@(u.TotalScore - u.FrozenScore)</td>
                        <td>@u.LastLoginTime</td>
                        <td>@u.CreateTime</td>
                        <td>@(u.IsAdmin ? "是" : "否")</td>
                        <td>@(u.Deleted ? "已禁用" : "正常")</td>
                        
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

@Html.Pager(Model.TotalCount, Model.PageSize, Model.PageIndex, new GFPagerOptions())

@section Scripts {
    <script type="text/javascript" src="~/Content/js/datetime/WdatePicker.js"></script>
}
<script type="text/javascript">
    function check() {
        if ($("#StartDate").val() != "" && $("#EndDate").val() != "") {
            if (new Date($("#StartDate").val().replace(/-/g, "/")) > new Date($("#EndDate").val().replace(/-/g, "/"))) {
                alert("开始时间不能大于结束时间");
                return false;
            }
        }
    }
</script>