
@{
    ViewBag.Title = "用户中心";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@model PageViewData<Transaction>

<div class="uc-head">交易记录</div>

@using (Html.BeginForm())
{
    <dl class="uc-search">


        <dd>
            <div class="form-group">
                <div class="form-group-addon no-right-border">产品</div>
                <div class="form-group-addon form-group-addon-white stretch">
                    @Html.DropDownList("ProductId", (IEnumerable<SelectListItem>)ViewBag.Products, "全部")
                </div>
            </div>
        </dd>

        <dd>
            <div class="form-group">
                <div class="form-group-addon no-right-border">类别</div>
                <div class="form-group-addon form-group-addon-white stretch">
                    <select id="IsBuy" name="IsBuy">

                        <option value="-1" selected="">全部</option>
                        <option value="1">买入</option>
                        <option value="0">卖出</option>

                    </select>
                </div>
            </div>
        </dd>
        <dd>
            <div class="form-group">
                <div class="form-group-addon no-right-border">开始</div>
                <div class="form-group-input stretch">
                    @Html.TextBox("StartDate", null, new { @class = "stretch", onfocus = "WdatePicker({dateFmt:'yyyy-MM-dd'})", name = "StartDate" })
                    @*<input class="stretch" id="StartDate" name="StartDate" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" type="text" value="@ViewBag.StartDate">*@
                </div>
            </div>
        </dd>
        <dd>
            <div class="form-group">
                <div class="form-group-addon no-right-border">结束</div>
                <div class="form-group-input stretch">
                    @Html.TextBox("EndDate", null, new { @class = "stretch", onfocus = "WdatePicker({dateFmt:'yyyy-MM-dd'})", name = "EndDate" })
                    @*<input class="stretch" id="EndDate" name="EndDate" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" type="text" value="@ViewBag.StartDate">*@
                </div>
            </div>
        </dd>
        <dd>
            <div class="form-group">
                <input type="submit" class="button button-color-1 button-stretch" value="查询" onclick="return check()">
            </div>
        </dd>
    </dl>
}

<div class="tablebox">

    <table>
        <thead>
            <tr>
                <th></th>
                <th>用户</th>
                <th>产品</th>
                <th>交易时间</th>
                <th>类型</th>
                <th>成交价</th>
                <th>成交量</th>
                <th>成交额</th>
                <th>手续费</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Items == null || !Model.Items.Any())
            {
                <tr>
                    <td class="algin" colspan="9">没有查询到相关数据</td>
                </tr>
            }
            else
            {
                foreach (var t in Model.Items)
                {
                    <tr>
                        <td></td>
                        <td>@t.UserId</td>
                        <td>@t.Product.ProductName</td>
                        <td>@t.CreateTime</td>
                        <td>@(t.IsBuy ? "买入" : "卖出")</td>
                        <td>@t.Price</td>
                        <td>@t.Count</td>
                        <td>@(t.Price * t.Count)</td>
                        <td>@t.ChargeFee</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

@Html.Pager(Model.TotalCount, Model.PageSize, Model.PageIndex, new GFPagerOptions())

@section Scripts {
    <script type="text/javascript" src="~/Content/js/datetime/WdatePicker.js"></script>
}
<script type="text/javascript">
    function check() {
        if ($("#StartDate").val() != "" && $("#EndDate").val() != "") {
            if (new Date($("#StartDate").val().replace(/-/g, "/")) > new Date($("#EndDate").val().replace(/-/g, "/"))) {
                alert("开始时间不能大于结束时间");
                return false;
            }
        }
    }

</script>
